* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    width: 25%;
    margin: auto;
    padding: 40px 0;
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: 0px 2px 8px rgba(40, 41, 61, 0.08), 0px 20px 32px rgba(96, 97, 112, 0.24);
}

.wrapper {
    padding: 0 32px;
    text-align: left;
}

img {
    margin-left: 356px;
}

h1 {
    margin-bottom: 24px;
    font-weight: 800;
    font-size: 28px;
}

.form-control {
    margin: auto;
    width: 356px;
    height: 104px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.mail {
    padding: 16px;
    height: 48px;
    border: 1px solid #FFE44D;
    border-radius: 12px;
}

.password {
    padding: 16px;
    height: 48px;
    border: 1px solid #CFD8DC;
    border-radius: 12px;
}

p {
    margin: auto;
    width: 356px;
    font-weight: 400;
    font-size: 12px;
    color: #7B8E98;
    margin-bottom: 24px;
}

.btn {
    display: flex;
    flex-direction: column;
}

.btn-1 {
    margin: auto;
    margin-bottom: 8px;
    height: 48px;
    width: 356px;
    font-weight: 700;
    font-size: 16px;
    background-color: #FFE44D;
    border-radius: 55px;
    border: 0;
}
.btn-1:hover {
background-color: white;
border: 2px solid #FFE44D;
}

.btn-2 {
    margin: auto;
    height: 48px;
    width: 356px;
    font-weight: 700;
    font-size: 16px;
    background-color: white;
    border-radius: 55px;
    border: 1px solid #CFD8DC;
}